body{
    width: 100%;
    margin: 0;
}

.border{
    background-color: white;
    position: absolute;
    z-index: 2;
}

.outline.border{
  border: 4px solid white;
  width: 100%;
  height: 100%;
  background: transparent;
}

.center-line{
    width: 100%;
    height: 4px;
    top: calc(50% - 4px/2);
    left: 0;
}

.center-circle{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    border: 4px solid white;
    background: none;
    top: calc(50% - 120px/2);
    left: calc(50% - 120px/2);
}

.box{
    left: 25%;
    width: 50%;
    height: 19%;
    background: transparent;
    border: 4px solid white;
}

.box.left{
    top: 0;
}

.box.right{
    bottom: 0;
}

.box.small{
    left: 36%;
    height: 8%;
    width:  28%;
}

.box-d{
    left: 35%;
    width: 28%;
    height: 8%;
    background: transparent;
    border: 4px solid white;
}

.box-d.left{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    border: 4px solid white;
    background: none;
    top: calc(16% - 120px/2);
    left: calc(50% - 120px/2);
    clip-path: inset(70% 0 0 0);
}
.box-d.right{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    border: 4px solid white;
    background: none;
    bottom: calc(16% - 120px/2);
    left: calc(50% - 120px/2);
    clip-path: inset(0 0 70% 0);
}
.spot{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: white;
    left: calc(50% - 10px/2);
}
.spot.left{
    top: 11%;
}
.spot.right{
    bottom: 11%;
}
.spot.center{
    top: calc(50% - 4px);
}

.corner{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: none;
    border: 4px solid white;
}
.corner.top{
    top: -20px;
}

.corner.left{
    left: -20px;
}

.corner.right{
    right: -20px;
}

.corner.bottom{
    bottom: -20px;
}
